h1{
    color : red;
}
#home-intro{
    text-align: center;
    border: 3px solid black;
}
#home-intro:hover{
    background-color: lightblue;
}
#p2{
    color:blue;
}
#nav{
    background-color: red;
    text-align: center;
    height: 35px;
    padding-top: 15px;
    margin-bottom: 3px;
}

#nav a{
    margin: 0px 5px;
    /*margin: y axis x axis*/
    text-decoration: none;
    color:beige;
}

#card{
  align-items: center;
  margin-top: 5px;
  border: 3px solid black;
  width: 300px;
  height: 580px;
  margin: 3px auto;
  border-radius: 8px;
}

#card-img{
  width: 300px;
  height: 300px;
  align-items: center;
  margin: 0px auto;
}

img{
  width: 300px;
  height: 300px;
  border-radius:8px;
}

#action{
  text-align: center;
  
}
button{
  width:100%;
}